# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Packages/PackageCache/

# Visual Studio / C#
.vs/
*.user
*.suo
*.userprefs
*.csproj
*.sln
*.pidb
*.booproj
*.svd

# OS junk
.DS_Store
Thumbs.db
